@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
}
/* ---- nav ---- */
.nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;

  padding: 20px 100px;
  background-color: #333;
}

.nav h2 {
  color: rgb(238, 43, 17);
}

.nav span {
  color: rgb(39, 157, 235);
}

.nav ul {
  width: fit-content;
  display: flex;
  justify-content: space-between;
}

.nav ul li {
  padding: 5px 20px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}

.nav ul li a {
  color: white;
}

/* ---- nav 4 mobile ---- */
.nav_mobile {
  display: none;
  background-color: #333;
  padding: 25px 0;
}
.nav_mobile ul {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.nav_mobile ul li {
  color: #fff;
  padding: 10px 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.nav_mobile ul li a {
  color: white;
}

.nav_mobile ul li:hover {
  background-color: rgb(41, 33, 33);
}

/* main-page */

/* login register */
.modal_background {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(230, 230, 240, 0.8);
  position: fixed;
  top: 0;
  z-index: 4;
}

.login_modal {
  display: none;
  width: fit-content;
  background-color: #fff;
  padding: 95px 35px;
  position: fixed;
  z-index: 5;
  top: 100px;
  /* center modal with left:0; right:0; margin:auto; */
  left: 0;
  right: 0;
  margin: auto;
}

.register_modal {
  display: none;
  width: fit-content;
  background-color: #fff;
  padding: 95px 35px;
  position: fixed;
  z-index: 5;
  top: 100px;
  /* center modal with left:0; right:0; margin:auto; */
  left: 0;
  right: 0;
  margin: auto;
}

.login_modal form,
.register_modal form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login_modal input,
.register_modal input {
  height: 35px;
  font-size: 16px;
  padding: 0 0 0 7px;
  margin: 10px 0;

  outline: none;
}

.login_modal input[type='submit'],
.register_modal input[type='submit'] {
  border: none;
  background-color: teal;

  color: #fff;
}

/* top-row */
.top-row {
  padding: 10px;
}

.messages {
  padding: 10px;
  color: red;
}

.button_for_upload {
  padding: 5px 10px;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  transition: 0.7s;
}

.button_for_upload:hover {
  background-color: blanchedalmond;
}

.contain_input_and_submit {
  display: none;
}

input[name='title'] {
  width: 150px;
  height: 26px;
  font-size: 16px;
  padding: 0 0 0 7px;
  margin: 10px 15px 0 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

input[name='title']::placeholder {
  color: black;
  font-size: 13px;
}

input[name='publish_post'] {
  padding: 3px 6px;
  border: none;
  background-color: teal;

  color: #fff;
}

/* parent */
.parent {
  display: flex;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: rgb(148, 139, 139);
}

.contain-buttons {
  padding: 0 10px;
}
.contain-buttons i {
  padding: 0 5px;
  font-size: 18px;
}

.contain-title-src .title {
  padding: 0 0 5px;
  color: rgb(47, 46, 46);
  font-size: 14px;
}

.author {
  display: block;
  font-size: 14px;
}

.timestamp {
  font-size: 10px;
}

.edit-btns {
  margin-left: 20px;
}

.edit-btn,
.delete-btn {
  padding: 50% 5px 0;
  border: none;
  background-color: transparent;
}

/* edit forms */
.edit_form,
.delete_form {
  display: none;
  width: fit-content;
  height: fit-content;
  padding: 40px;
  background-color: white;
  border: 1px solid black;

  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin: auto;
}

.delete_form input[name='delete_submission'] {
  width: fit-content;
  padding: 6px 12px; /* Make padding left-right always double the top-bottom  */
  margin: 15px 15px 0 0;
  border: none;
  background-color: red;
  color: #fff;
}

.cancel_delete {
  padding: 6px 12px;
  background-color: rgb(147, 147, 240);
  color: #fff;
}

.cancel_update {
  color: red;
  margin: 10px 0 0;
}

.activate_display {
  display: block;
}
