@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(68, 65, 65);
}

/* ---- nav ---- */
.nav {
  width: 100vw;
  display: flex;
  position: fixed;
  z-index: 3;
  justify-content: space-between;
  padding: 20px 100px;
  background-color: rgb(46, 43, 43);
}
@media (max-width: 675px) {
  .nav {
    width: 100vw;

    padding: 20px 20px;
  }
}

.nav h2 {
  color: rgb(238, 43, 17);
  font-size: 16px;
}

.nav ul {
  width: fit-content;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 528px) {
  .nav ul {
    display: none;
  }
}

.nav ul li {
  padding: 5px 20px;
  font-size: 18px;
  color: rgb(175, 171, 171);
  cursor: pointer;
}

.nav ul li a {
  color: rgb(175, 171, 171);
}

.nav .fa-bars {
  display: none;
}

@media (max-width: 528px) {
  .nav .fa-bars {
    display: inline-block;
    color: yellow;
    font-size: 34px;
  }
}

.logOutBtn {
  color: #fff;
  color: red;
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 3px 6px;
  transition: 0.7s;
}

.logOutBtn:hover {
  background-color: rgb(223, 224, 231);
  color: black;
}

/* ---- nav 4 mobile ---- */

.nav_mobile {
  position: fixed;
  z-index: 3;
  background-color: rgb(46, 43, 43);
  margin: 74px 0 0;
}

/* ------------------------------------------------------ */
.nav_mobile_ul {
  height: 0px; /* from 200px see .activate_submenu below */
  overflow: hidden;
  width: 100vw;
  display: flex;
  flex-direction: column;
  transition: 0.7s;
}

.activate_submenu {
  height: 200px;
}
/* --------------------------------------------------------- */

.nav_mobile ul li {
  color: rgb(175, 171, 171);
  padding: 14px 10px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.nav_mobile ul li a {
  color: rgb(175, 171, 171);
}

.nav_mobile ul li:hover {
  background-color: rgb(41, 33, 33);
}

/* login register */
.modal_background {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(230, 230, 240, 0.8);
  position: fixed;
  top: 0;
  z-index: 4;
}

.login_modal {
  display: none;
  width: fit-content;
  background-color: #fff;
  padding: 95px 35px;
  position: fixed;
  z-index: 5;
  top: 100px;
  /* center modal with left:0; right:0; margin:auto; */
  left: 0;
  right: 0;
  margin: auto;
}

.register_modal {
  display: none;
  width: fit-content;
  background-color: #fff;
  padding: 95px 35px;
  position: fixed;
  z-index: 5;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
}

.login_modal form,
.register_modal form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.login_modal input,
.register_modal input {
  height: 35px;
  font-size: 16px;
  padding: 0 0 0 7px;
  margin: 10px 0;

  outline: none;
}

.login_modal input[type='submit'],
.register_modal input[type='submit'] {
  border: none;
  background-color: teal;
  color: #fff;
}

/* ---- main_page ---- */

.main_page {
  position: relative;
  padding: 80px 0 0;
  transition: 0.7s;
}

.activate_add_padding {
  padding: 290px 0 0;
}

.main-audio-div {
  position: absolute;
  display: none;
  top: 0px;
  right: 25px;
}
@media (max-width: 768px) {
  .main-audio-div {
    position: static;
    display: none;
  }
}

.top-row {
  padding: 10px 10px 30px;
}

.messages {
  padding: 10px;
  color: red;
}

.button_for_upload {
  padding: 5px 10px;
  border: 1px solid rgb(175, 171, 171);
  background-color: transparent;
  color: rgb(175, 171, 171);
  cursor: pointer;
  transition: 0.7s;
}

.button_for_upload:hover {
  background-color: rgb(175, 171, 171);
  color: rgb(68, 65, 65);
}

.input_and_publish_btn {
  display: none;
}

input[name='title'] {
  width: 150px;
  height: 26px;
  font-size: 16px;
  padding: 0 0 0 7px;
  margin: 10px 15px 0 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

input[name='title']::placeholder {
  color: black;
  font-size: 13px;
}

input[name='publish_post'] {
  padding: 3px 6px;
  border: none;
  background-color: teal;
  color: #fff;
}

/*----  parent ----*/
.parent {
  width: 100vw;
  display: flex;
  padding: 20px;
  margin: 10px 0;
  background-color: rgb(46, 43, 43);
}

.contain-buttons {
  padding: 15px 10px 0;
}

.fa-play,
.fa-pause-circle,
.fa-stop {
  padding: 0 5px;
  font-size: 24px;
  color: rgb(175, 171, 171);
}

.activate_player_button_clicked {
  color: white;
}

.contain-title-src {
  margin: 0 0 0 10px;
}

.contain-title-src .title {
  padding: 0 0 5px;
  color: rgb(175, 171, 171);
  font-size: 14px;
}

.author {
  display: block;
  font-size: 12px;
  color: rgb(175, 171, 171);
}

.author a {
  color: red;
  cursor: pointer;
  margin: 0 0 0 4px;
}

.timestamp {
  font-size: 10px;
  color: rgb(113, 122, 238);
}

.edit-btns {
  margin-left: 20px;
}

.edit-btn,
.delete-btn {
  padding: 50% 3px 0;
  border: none;
  color: rgb(175, 171, 171);
  background-color: transparent;
}

@media (max-width: 528px) {
  .edit-btns {
    display: block;
  }
}

/* edit forms */

.edit_form,
.delete_form {
  display: none;
  width: fit-content;
  height: fit-content;
  padding: 40px;
  background-color: white;
  border: 1px solid black;

  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin: auto;
}

.delete_form input[name='delete_submission'] {
  width: fit-content;
  padding: 6px 12px;
  margin: 15px 15px 0 0;
  border: none;
  background-color: red;
  color: #fff;
  border-radius: 2.5px;
}

.cancel_delete {
  padding: 6px 12px;
  background-color: rgb(147, 147, 240);
  color: #fff;
  border: none;
  border-radius: 2.5px;
}

.cancel_update {
  color: red;
  margin: 10px 0 0;
}

/* ACTIVATE display:block  used with:
  [login and register, modal_background, delete-btn, delete_form, 
  edit-btn, edit_form, cancel_update, ect. ] */

.activate_display {
  display: block;
}
